body {
  background-color: #333;
  color: #fffff7;
}
div {
  display: flex;
  flex-direction: column;
}
/* div {
  width: 90vw;
} */

@media screen and (min-width: 480px) {
  div {
    max-width: 800px;
    height: 400px;
  }
}
